.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.my-button {
  font-size: 1em;
  color: red;
  border: none;
}

table {
  border: 1px solid;
}

th {
  border: 1px solid;
  text-align: center;
}

td {
  border: 1px solid;
  text-align: center;
}

tr {
  color:grey;
}

.htmlStyle {
  height: 100%;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
}

.bodyStyle {
  background-image: url(https://media.suara.com/pictures/970x544/2022/01/05/49087-makanan-khas-indonesia.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.containerMain {
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.bannerStyle {
  margin-Top: 100px;
  color: white;
}

.judulStyle {
  font-size: 64px;
  margin-bottom: 5px;
}

.subJudulStyle {
  font-size: 34px;
  font-style: italic;
  margin-top: 0px;
}

.loginStyle {
  margin-top: 180px;
  margin-right: 100px;
  padding: 25px 30px 40px 30px;
  background-color: grey;
  border-radius: 12px;
  width: 300px;
}

.loginTextStyle {
  margin: 0px;
  padding: 20px 0px 5px 0px;
  font-size: 24px;
  color : white;
}

.inputColumnStyle {
  margin: 0px;
  padding: 1px 0px;
  font-size: 20px;
  width: 100%;
}

.buttonStyle {
  padding: 5px;
  margin-top: 25px;
  width: 100%;
  font-size: 18px;
  color: black;
}

.pesanErrStyle {
  color : red;
  font : 10px;
}

.menuContainer {
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.buttonStyle {
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 25px;
  width: 150px;
  font-size: 18px;
  color: black;
}

.categoryStyle {
  padding: 5px;
  margin: 20px;
  margin-top: 5px;
  font-size: 15px;
  color: white;
}

.qtyInputStyle {
  margin-top: 50px;
  margin-right: 100px;
  padding: 25px 30px 40px 30px;
  background-color: grey;
  border-radius: 12px;
  width: 300px;
}

